%html
  %head
    %title Mocha
    = stylesheet_link_tag "mocha-rice"
    = javascript_include_tag "mocha-rice"
    = javascript_include_tag @specsuite, @asset_options.clone
    = csrf_meta_tags
  %body
